* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #111;
}

.music {
  width: 300px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.music .wave {
  width: 5px;
  border-radius: 10px;
  background-color: #fff;
  animation: play 1.5s ease-in-out infinite;
}

@keyframes play {
  0%, 100% {
    height: 2px;
  }
  50% {
    height: 80px;
  }
}

.music .wave:nth-child(1) {
  background-color: #880677;
  animation-delay: 1s;
}

.music .wave:nth-child(2) {
  background-color: #cf55bf;
  animation-delay: 0.8s;
}

.music .wave:nth-child(3) {
  background-color: #aa096c;
  animation-delay: 0.6s;
}

.music .wave:nth-child(4) {
  background-color: #80119c;
  animation-delay: 0.4s;
}

.music .wave:nth-child(5) {
  background-color: #880677;
  animation-delay: 0.2s;
}

.music .wave:nth-child(6) {
  background-color: #cf55bf;
  animation-delay: 0.2s;
}

.music .wave:nth-child(7) {
  background-color: #aa096c;
  animation-delay: 0.4s;
}

.music .wave:nth-child(8) {
  background-color: #80119c;
  animation-delay: 0.6s;
}

.music .wave:nth-child(9) {
  background-color: #880677;
  animation-delay: 0.8s;
}

.music .wave:nth-child(10) {
  background-color: #880677;
  animation-delay: 1s;
}